@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');
@import url('https://fonts.googleapis.com/css?family=Abel');
.logoimage {
    margin-top: 3vh;
    width: 17.5vw;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.logotext {
    margin-top: 3vh;
}

.subtext {
    border-top: 2px solid grey;
    padding-top: 2vh;
    clear: both;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 3.5vw;
}

.left {
    width: 42%;
    height: 100%;
    margin-left: 7%;
    margin-right: 1%;
    float: left;
}

.right {
    width: 42%;
    height: 100%;
    margin-right: 7%;
    margin-left: 1%;
    float: right;
}

.button_focus {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 3.5vw;
    background: linear-gradient(to right, #990056, #001372);
    text-decoration-line: none;
    padding: 1.5vh;
    border-radius: 4vh;
    color: #fff;
}

.button_normal {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 3.5vw;
    border: 2px solid #4D0A64;
    text-decoration-line: none;
    padding: 1.5vh;
    border-radius: 4vh;
    color: #000;
    box-sizing: border-box;
}